.grid(data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }')
  each book in JSON.parse(books)
    .grid-item
      .card
        .card-image
          img.materialboxed(src=book.thumbnail, onerror='imgError(this);')
        if book.description
          .card-content
            p= book.description
        .card-action
          if deleteIsVisible
            a.red-text(href='delete/' + book.id) Delete
          else
            a.blue-text(
              href='request/' + book.id + '/' + userId
            ) Request

          a.blue-text(href=book.link target='_blank') Open
