style(type='text/css').
  .remove-shadow{
    box-shadow: none !important;
  }
  .grid-item {
    width: 200px;
    padding-right: 20px;
  }

  .grid-item--width2 {
    width: 400px;
    padding-right: 20px;
  }

  .card-content {
    padding: 9px !important;
  }


.grid(data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }')
  each book in JSON.parse(books)
    .grid-item
      .card
        .card-image
          img.materialboxed(src=book.thumbnail, onerror='imgError(this);')
        if book.description
          .card-content
            p= book.description
        .card-action
          if deleteIsVisible
            a.red-text(href='delete/' + book.id) Delete
          a.blue-text(href=book.link target='_blank') Link

script.
  $(document).ready(function(){
      $('.materialboxed').materialbox();
  });

  function imgError(image) {
    image.onerror = '';
    image.src = 'http://www.beyondcompetition.biz/wp-content/themes/venera-by-osetin/images/placeholder-camera-green.png';
    return true;
  }
