extends layout.pug

block content
  form.col.s12(action='/my-books', method='POST')
    .row.search-field
      .input-field.col.s12
        input(type='text', name='bookName')
        label(
          for='bookName'
        ) Type the name of a book


      .input-field.col.s12
        button.waves-effect.waves-light.btn(type='submit') Submit

  if error
    .row
      .col.s12
        .card.red.lighten-5.col.s12.remove-shadow
          .card-content.col.s12
            p= error


  include _message.pug

  h5 Requets to approve
  include _requests_to_approve.pug

  hr
  h5 Your requested book

  hr
  h5 My books
  include _list_of_books.pug



  script.
    $(document).ready(function(){
        $('.materialboxed').materialbox();
    });

    function imgError(image) {
      image.onerror = '';
      image.src = 'http://www.beyondcompetition.biz/wp-content/themes/venera-by-osetin/images/placeholder-camera-green.png';
      return true;
    }
